[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=code-folder/code
Name=HARDWARIO Code
Icon=code-folder/hardwario-code-icon.png
NoDisplay=false